.app{

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:center;
  font-family: Avenir-Light,helvetica-light;

  .row{
    clear:both;
  }

  button{
    background-color: #1aaa55;
    border-color: #168f48;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 10px;
    outline: 0;
    cursor: pointer;
  }
}


@media screen and (max-width: 992px)   {

  .app{
    zoom:0.7;
  }
}

@media screen and (max-width: 320px)   {

  .app{
    zoom:0.55;
  }

}
